azure-identity==1.13.0
Flask==2.3.2
openai==0.27.8
azure-search-documents==11.4.0b6
azure-storage-blob==12.14.1
azure-cosmos==4.5.0
opencensus-ext-azure==1.1.9
tiktoken==0.5.2
azure-monitor-opentelemetry==1.0.0b15
opentelemetry-instrumentation-flask==0.40b0
numpy==1.26.3
pypdf==3.17.0
azure-identity==1.13.0
azure-search-documents==11.4.0b6
azure-ai-formrecognizer==3.2.1
azure-storage-blob==12.14.1
typing==3.7.4.3
pycryptodome==3.18.0
python-dotenv==1.0.1
cryptography==41.0.7
pyjwt==2.8.0