<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="CanonicalHostNameRule1" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www\.level1\.a3-brains\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.level1.a3-brains.com/{R:1}" />
                </rule>
                <rule name="ReverseProxyToBackend" stopProcessing="true">
                    <match url="^/(.*)" />
                    <action type="Rewrite" url="http://52.185.132.232:8080/{R:1}" />
                </rule>
                <rule name="https" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <handlers accessPolicy="Read, Script">
            <remove name="CGI-exe" />
            <!-- <remove name="Python" />
            <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\A3Buser\AppData\Local\Programs\Python\Python311\python.exe" resourceType="File" requireAccess="Script" /> -->
            <add name="CGI-exe" path="*.exe" verb="*" modules="CgiModule" resourceType="File" requireAccess="Execute" allowPathInfo="true" />
            <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
            <!-- <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\A3Buser\AppData\Local\Programs\Python\Python311\python.exe|C:\Users\A3Buser\AppData\Local\Programs\Python\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" /> -->
        </handlers>
        <httpPlatform processPath="C:\inetpub\wwwroot\A3B_FAQ\Level1\src\backend\backend_env\Scripts\python.exe" arguments="C:\inetpub\wwwroot\A3B_FAQ\Level1\src\backend\app.py --port %HTTP_PLATFORM_PORT%" stdoutLogEnabled="true" stdoutLogFile="C:\inetpub\wwwroot\A3B_FAQ\Level1\src\backend\logs\python.log" startupTimeLimit="10" processesPerApplication="1">
            <environmentVariables>
                <environmentVariable name="SERVER_PORT" value="%HTTP_PLATFORM_PORT%" />
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
