.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: #5d78b3;
    color: #f2f2f2;
    z-index: 1001;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 12px;
    margin-left: 12px;
}

.headerTitleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #f2f2f2;
    text-decoration: none;
}

.headerLogo {
    height: 40px;
}

.headerTitle {
    margin-left: 12px;
    font-weight: 600;
}

.headerTitleLeft {
    margin-left: 12px;
    font-weight: 600;
    text-align: left;
}

.headerTitleRightContainer {
    cursor: pointer;
}

.headerTitleRight {
    margin-left: 12px;
    font-weight: 600;
    text-align: right;
    position: relative;
}

.accountMenu {
    position: absolute;
    top: 33px;
    right: 35px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 15px;
    font-size: 12px;
    min-width: 180px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    z-index: 1000;
}

.signOutContainer {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    padding: 10px;
    font-size: 30px;
    color: #000000;
}

.signOutContainer:hover {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    background-color: #e4e3df;
    border-radius: 5px;
}

/* サインアウトコンポーネントに効かしている */
.signOutContainer > div {
    padding: 12px 24px 12px 44px;
    margin: -12px -24px -12px -44px;
    display: initial;
}

.headerNavList {
    display: flex;
    list-style: none;
    padding-left: 0;
    width: 260px;
}

.headerNavPageLink {
    color: #f2f2f2;
    text-decoration: none;
    opacity: 0.75;

    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition-duration: 500ms;
    transition-property: opacity;
}

.headerNavPageLink:hover {
    opacity: 1;
}

.headerNavPageLinkActive {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 20px;
}

.headerNavLeftMargin {
    margin-left: 20px;
}

.headerRightText {
    font-weight: normal;
    margin-left: 40px;
}

.microsoftLogo {
    height: 23px;
    font-weight: 600;
}

.githubLogo {
    height: 20px;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    height: calc(100% - 66.75px);
    background: #fff;
}
